@import 'mixins';

/*Bombones.html*/
.card-group {
    padding: 160px 30px 0px 30px;
    background-color: $background-color-body;
    .bombones-body {
        background-color: $background-color-body;
        margin-bottom: 50px;
        @include card;
        text-align: left;
        img {
            width: 300px;
            height: 450px;
        }
        .card-body {
            padding-left: 0px;
            .btn-card {
                @include btn-boot;
            }
            h4 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
        }
    }
}
/*FinBombones.html*/

