.nosotros {
    padding-top: 140px;
}

.body-nosotros {
     /*SobreNosotros-IZQ*/
     .body-izq {
        .index {
            display: flex;
            justify-content: space-between;
            .img-izq {
                img {
                    @include img-index-carac;
                    @include img-index;
                    
                    &:hover {
                        @include img-index-hover;
                    }
                }
            }
            .texto-index {
                @include texto-index;
                .btn {
                    @include btn-index;
                    a {
                        text-decoration: none;
                        color: $text-color;
                        &::after {
                            @include after
                        }
                        &:hover::after {
                            @include btn-index-hover;
                        }

                    }
                }
            }
        }
    }
    /*Seccion-Bombones-DER*/
   .body-der {
       p {
           text-align: left;
       }
       .index {
            display: flex;
            justify-content: space-between;
            .img-der {
                img {
                    @include img-index-carac;
                    @include img-index;
                        
                    &:hover {
                        @include img-index-hover;
                    }
                }
            }
            .texto-index {
                @include texto-index;
                .btn {
                    @include btn-index;
                    a {
                        text-decoration: none;
                        color: $text-color;
                        &::after {
                            @include after;
                        }
                        &:hover::after {
                            @include btn-index-hover;
                        }
                    }
                }
            }
        }
    } 
}
