@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'index';
@import 'bombones';
@import 'contacto';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/*Screen*/
@media screen and (min-width:881px) {
    .burger {
        display: none;
    }
    /*body*/
    /*seccion-bombones*/
    /*footer*/
    .container .linea {
        padding: 0 30px;
    }
}
/*Tablet*/
@media screen and (min-width:500px) and (max-width:880px) {
    /*header*/
    .logo {
        left: 55%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1;
    }
    .logo a img {
        width: 80px;
        height: auto;
    }
    /*burger menu*/
    .paginas ul {
        position: absolute;
        left: 0px;
        top: 0;
        background-color: #1D2025;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 100px;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    body {
        overflow-x: hidden;
    }
    .paginas li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .paginas-active {
        transform: translateX(0%);
    }
    /*finheader*/
    /*body*/
    /*sobre-nosotros*/
    .nosotros{
        display: flex;
        flex-direction: column;
    }
    .img-nosotros img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .img-bombones img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    /*footer*/
    /*.footer-navegation-tienda {
        margin-left: 30px;
    }
    .footer-navegation-contacto {
        margin-right: 30px;
    }
    .container .linea {
        padding: 0 30px;
    }*/
}
/*Mobile*/
/*@media screen and (max-width:500px) {
    /*header*/
    /*.logo {
        left: 58%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1;
    }
    .logo a img {
        width: 80px;
        height: auto;
    }
    .paginas ul {
        position: absolute;
        left: 0px;
        top: 0;
        background-color: #1D2025;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 100px;
        transform: translateX(-100%);
        transition: 0.5s ease-in;
    }
    body {
        overflow-x: hidden;
    }
    .paginas li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }*/
    /*finheader*/
    /*body*/
    /*sobre-nosotros*/
    /*.img-nosotros img{
        padding-top: 30px;
        /* padding-bottom: 30px; 
        width: 92vw;
        height: auto;
    }
    .img-bombones img {
        padding-top: 30px;
        width: 86vw;
        height: auto; 
    }*/
  

